<div id="mc-container" style="background:white;
                              border: 1px solid #DFDFDF; 
                              border-radius: 8px 8px 8px 8px;
                              box-shadow: 0 0 8px rgba(0,0,0,0.5);
                              padding: 10px;
                              font-size: 1.4em;
                              min-height: 300px;
                              "></div>
<script type="text/javascript">
    var mcSite = '307';
    (function () {
        var mc = document.createElement('script');
        mc.type = 'text/javascript';
        mc.async = true;
        mc.src = 'http://cackle.ru/mc.widget-min.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
    })();
</script>
