<div id="sidebar">
    <ul>

        <li>
            <h2>
                Подписка</h2>
            <p>
                Здесь будет расположена форма подписки на блог через E-mail и RSS</p>
        </li>
        <li>
            <h2>
                Услуги</h2>
            <ul>
                <li><a href="#">Обучение программированию</a></li>
                <li><a href="#">Заказать сайт</a></li>
                
            </ul>
        </li>
       
    </ul>
</div>
<!-- end #sidebar -->
